h1 {
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-size: 27px;
}
div {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.h1 {
    border: 50px wheat;
    background-color:black;
    color: white;
}   
.p {
    background-color: #3b144b;
}